<app-cabecera></app-cabecera>
<app-navbar></app-navbar>

<div *ngIf="valido" class="contenido">
    <h5 class="titulo">Agregue cualquier movimiento de Caja</h5>
    <div class="formulario">
        <form autocomplete="off" [formGroup]="forma" (ngSubmit)="procesar()">
            <div class="row">
                <div class="col-lg-9">
                    <input formControlName="detalle" class="input-detalle" type="text" placeholder="Detalle del Movimiento">
                    <div class="error" *ngIf="errores.detalle">{{ errores.detalle.message }}</div>
                </div>


                <div class="col-lg-3">
                    <input [ngClass]="{ 'input-importe-negativo': valor, 'input-importe': !valor }" formControlName="importe" type="text" placeholder="Importe (negativo para gastos)" (input)="cambiaInput($event)">
                    <div class="error" *ngIf="errores.importe">{{ errores.importe.message }}</div>
                </div>
            </div>
            <div class="botonera">

                <button type="submit" class="btn btn-outline-primary">Confirmar</button>
            </div>




        </form>
    </div>

    <div class="saldo1">
        <h5 *ngIf="caja.saldo > 0" class="positivo">SALDO CAJA: {{caja.saldo}}</h5>
        <h5 *ngIf="caja.saldo < 0" class="negativo">SALDO CAJA: {{caja.saldo}}</h5>
    </div>








    <div *ngIf="caja.caja.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope='col' style="display:none">ID</th>
                    <th scope="col" class="fecha">FECHA</th>
                    <th scope="col" class="detalle">DETALLE</th>
                    <th scope="col" class="importe">IMPORTE</th>

                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let a of caja.caja">
                    <!--</tr> | filter:filtrar">-->

                    <td class="fecha">{{ a.fecha | date: "dd/MM/yyyy"}}</td>

                    <td>{{ a.detalle }}</td>
                    <td *ngIf="a.movimiento == 'D'" class="debito">{{ a.importe }}</td>
                    <td *ngIf="a.movimiento == 'C'" class="movimiento">{{ a.importe }}</td>





                </tr>
            </tbody>
        </table>

    </div>



</div>
<div *ngIf="!valido" class="contenido">
    <div class="alert alert-primary" role="alert">
        Área de acceso restringido!
    </div>
</div>