.contenido {
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 80vw;
}

div.error {
    background-color: #ff0800;
    line-height: 1;
    opacity: 0.8;
    padding: 1em;
}

.error {
    color: rgb(253, 253, 253);
    font-style: italic;
    font-weight: bold;
}

.guardar {
    display: flex;
    justify-content: center;
    width: 100%;
}