<app-cabecera></app-cabecera>
<app-navbar></app-navbar>
<div class="contenido">
    <h4>Datos del Alumne</h4>
    <hr>
    <form [formGroup]="forma" (ngSubmit)="enviar()">


        <div class="row">
            <div class="col-6">
                <label class="col-2 col-form-label" name="Nombre">Nombre</label>
                <!--<div class="col-8">-->
                <input formControlName="nombre" name="nombre" autocomplete="disable" class="form-control" type="text" placeholder="Nombre" [(ngModel)]="alumno.nombre">
                <div class="error" *ngIf="errores.nombre">{{ errores.nombre.message }}</div>
                <!--</div>-->

                <!--</div>-->
                <br>
                <label class="col-2 col-form-label" name="Apellido">Apellido</label>
                <!--<div class="col-8">-->
                <input formControlName="apellido" name="apellido" autocomplete="disable" class="form-control" type="text" placeholder="Apellido" [(ngModel)]="alumno.apellido">
                <div class="error" *ngIf="errores.apellido">{{ errores.apellido.message }}</div>
                <!--</div>-->

                <!--</div>-->
                <br>

                <label class="col-2 col-form-label" name="Nombre">DNI</label>
                <!--<div class="col-8">-->
                <input formControlName="dni" name="dni" autocomplete="disable" class="form-control" type="text" placeholder="Nombre" [(ngModel)]="alumno.dni">
                <div class="error" *ngIf="errores.dni">{{ errores.dni.message }}</div>

                <!--</div>-->

                <!--</div>-->
                <br>
                <label class="col-2 col-form-label" name="Nombre">Email</label>
                <!--<div class="col-8">-->

                <input name="email" formControlName="email" autocomplete="disable" class="form-control" type="text" placeholder="Email" [(ngModel)]="alumno.email">
                <div class="error" *ngIf="errores.email">{{ errores.email.message }}</div>
                <!--</div>-->
                <!--</div>-->

            </div>
            <!--<div class="form-group row">-->
            <div class="col-6">

                <!--<div class="form-group row">-->
                <label class="col-2 col-form-label" name="Edad">Edad</label>
                <!--<div class="col-8">-->

                <input formControlName="edad" name="edad" autocomplete="disable" class="form-control" type="text" placeholder="Edad" [(ngModel)]="alumno.edad">
                <div class="error" *ngIf="errores.edad">{{ errores.edad.message }}</div>

                <!--</div>-->
                <br>
                <!--<div class="form-group row">-->
                <label class="col-2 col-form-label" name="Nombre">Dirección</label>
                <!--<div class="col-8">-->
                <input name="nombre" formControlName='direccion' autocomplete="disable" class="form-control" type="text" placeholder="Dirección" [(ngModel)]="alumno.direccion">
                <div class="error" *ngIf="errores.direccion">{{ errores.direccion.message }}</div>
                <!--</div>-->
                <!--</div>-->
                <br>

                <label class="col-2 col-form-label" name="Nombre">Teléfono</label>
                <!--<div class="col-8">-->

                <input name="telefono" formControlName="telefono" autocomplete="disable" class="form-control" type="text" placeholder="Teléfono" [(ngModel)]="alumno.telefono">

                <!--</div>-->
                <!--</div>-->
                <br>

                <!--<div class="form-group row">-->
                <label class="col-2 col-form-label" name="foto">Foto</label>
                <!--<div class="col-8">-->

                <input name="img" formControlName="img" accept=".png,.jpg,.jpeg" class="form-control" type="file" (change)="selectImage($event)" placeholder="Foto">
                <!--</div>-->
                <div *ngIf="imgPreview != null">
                    <img [src]="imgPreview">
                </div>

                <br>

            </div>

        </div>

        <br>
        <br>

        <div class="guardar">
            <button type="submit" class="btn btn-outline-primary m-2 col-8">
                Guardar
            </button>
        </div>

        <!-- </div>-->
    </form>


</div>