.contenido {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-top: 1em;
    width: 100%;
}

td {
    text-align: center;
}

.footable {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footable i {
    font-size: 40px;
}

.loading {
    display: flex;
    justify-content: center;
    width: 100%;
}