.cabecera {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.cabecera img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    max-height: 200px;
}

.navbar {
    width: 100%;
    background-color: rgb(91, 143, 113);
    margin-bottom: 2em;
}

.navbar li {
    display: inline;
}

.fecha {
    display: flex;
    flex-direction: row,
}